<html>
<head>
<style>
body {font-family: sans-serif;
    font-size: 10pt;
}
p { margin: 0pt; }
table.items {
    border: 0mm solid #000000;
}
td { vertical-align: top; }
.items td {
    border-left: 0mm solid #000000;
    border-right:0mm solid #000000;
}
table thead td { background-color: #ED322E;
    text-align: center;
    border: 0mm solid #000000;
    color:white;
}
.items td.blanktotal {
    background-color: #EEEEEE;
    border: 0 solid #000000;
    background-color: #FFFFFF;
    border: 0mm none #000000;
    border-top: 0mm solid #000000;
    border-right: 0mm solid #000000;
}
.items td.totals {
    text-align: right;
    border: 0.1mm solid #000000;
}
.items td.cost {
    text-align: "." right;
    font-family:arial;
    padding-right:10px;
}
.items td.note_order {
    text-align: right;
    border: 2px solid #f2f2f2;
}
.items tr.subtotal_row {
    border: 2px solid #f2f2f2;
    background:#F2F2F2;
}
.items td.grandtotal_row {
    border: 2px solid #ed322e;
    background:#ed322e;
    color:white;
}
</style>
</head>
<body>



<table width="100%">
<tr>
  <td colspan ="2"><img src="https://res.cloudinary.com/projectweb/image/upload/v1552576884/Confirmed/2.png" width="430px" style="display:block; margin: auto"></td>
</tr>
<tr class="subtotal_row"> 
</tr>
<tr class="subtotal_row"> 
</tr>
<tr class="subtotal_row"> 
</tr>
<tr class="subtotal_row"> 
</tr>
<tr>
  <td width="60%"><span style="font-size: 10pt;"><b>Tanggal Peminjaman Lab : </b><%= date %></span>
</tr>
<tr>
  <td width="60%"><span style="font-size: 10pt;"><b>Waktu Peminjaman Lab : </b><%= time %></span>
</tr>

</table>
</htmlpageheader>


<table class="items" width="100%" style="margin-top:20px;font-size: 9pt; background-color:#fff;border-collapse:collapse;" cellpadding="8">
<thead style="background:#ED322E;" cellspacing="0">
<tr>
<td width="30%" style="font-family:arial;text-align:center;">Jenis Produk</td>
<td width="10%" style="font-family:arial;text-align:center;">Durasi</td>
<td width="15%" style="font-family:arial;text-align:center;">Rate</td>
<td width="20%" style="font-family:arial;text-align:center;">Sub Total</td>
</tr>
</thead>
<tbody>
      <tr>
          <td width="30%">
              <div style="font-family:arial;text-align:center;">
                  <span style="font-weight:400;font-size: 12px;">Peminjaman Lab Vijaya Coffee</span>
              </div>
          </td>
          <td width="10%">
              <div style="font-family:arial;text-align:center;">
                  <span style="font-weight:400;font-size: 12px;"><%= duration %> Jam</span>
              </div>
          </td>
          <td width="30%">
              <div style="font-family:arial;text-align:center;">
                  <span style="font-weight:400;font-size: 12px;">Rp. 50.000 / Jam</span>
              </div>
          </td>
          <td width="30%">
              <div style="font-family:arial;text-align:center;">
                  <span style="font-weight:400;font-size: 12px;"><%= subtotal %></span>
              </div>
          </td>
      </tr>
<!-- <tr><td class="note_order" style="font-family:arial;text-align:left;padding-left: 15px;" colspan="5"><b>Catatan Untuk Penjual</b><br><%= notes %></td></tr> -->
<tr><td style="font-size: 1pt;font-family:arial;text-align:left;padding-left: 15px;" colspan="5">.</td></tr>

<tr><td style="font-size: 1pt;font-family:arial;text-align:left;padding-left: 15px;" colspan="5"></td></tr>
<tr class="subtotal_row">
  <td align="center" style="padding-top:10px;"></td>
  <td align="center" style="padding-top:10px;"></td>
  <td align="center" style="padding-top:10px;"></td>
  <td class="cost" style="padding-top:10px;"></td>
</tr>

<tr><td style="font-size: 1pt;font-family:arial;text-align:left;padding-left: 15px;" colspan="3"></td></tr>
  <tr class="">
  <td align="left" style="padding-top:10px; padding-left:20px"></td>
  <td align="center" style="padding-top:10px;"></td>
  <td class="grandtotal_row" style="padding-top:10px;">Total</td>
  <td class="grandtotal_row" style="text-align:right;padding-top:10px;padding-right: 10px;"><%= subtotal %></td>
</tr>

<tr><td style="font-size: 1pt;font-family:arial;text-align:left;padding-left: 15px;" colspan="3"></td></tr>
  <tr class="">
  <td align="left" style="padding-top:10px; padding-left:20px"></td>
  <td align="center" style="padding-top:10px;"></td>
</tr>


<tr><td class="note_order" style="font-family:arial;text-align:left;padding-left: 15px;" colspan="5"><b>Notes : </b><br><%= notes %></td></tr>

</tbody>
</table>
</body>
</html>