<html>
<head>
	<meta charset="UTF-8"/>
	<meta  name="viewport" content="width=device-width, initial-scale= 1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table align="center" margin="0" cellspacing="0" cellspacing="0" border="0" style="border-collapse:separate">
		<tr cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
			<!--spaceabuatas-->
			<td height="35px" bgcolor="#dddddd">&nbsp;</td>
		</tr>
		<tr cellspacing="0" cellpadding="0">
			<td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
				<table align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: separate;" margin="0">
					<tr cellspacing="0" cellpadding="0">
						<!--TABELABUKIRI-->
						<td width="100px" bgcolor="#dddddd">&nbsp;</td>
						<td>
							<table width="600px" cellspacing="0" cellpadding="0">
								<!--ISIKOTAKMERAH-->
								<tr>
									<td bgcolor="#ed302c"
									style="-webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; border-top-right-radius: 3px;">
										<table style="margin-left: 20px;">
											<tr>
												<td height="10px">&nbsp;</td>
											</tr>
											<tr>
												<td height="10px">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
								<!--/ISIKOTAKMERAH-->
								<!--ISIKOTAKPUTIH-->
								<tr>
									<td>
										<table width="550px" border="0" style="margin-left: 20px; margin-right: 20px">
											<tr>
												<td height="60px">&nbsp;</td>
											</tr>
											<tr>
												<td colspan ="2"><img src="https://res.cloudinary.com/projectweb/image/upload/v1552576884/Confirmed/2.png" width="430px" style="display:block; margin: auto"></td>
											</tr>
											<tr>
												<td>
													<p style="font-family:Lato; font-size:14px; color:#333333; margin-top:15px;">Atur ulang kata sandi Tokodistributor anda</p>
												</td>
											</tr>
											<tr>
												<td>
													<p style="font-family:Lato; font-size:13px; color:#999999;">
														Hello <%= username %>,
													</p>
												</td>
											</tr>
											<tr>
												<td><p style="font-family:Lato; font-size:13px; color:#999999;">Kami telah menerima permintaan untuk atur ulang kata sandi anda.<br/>
													Berikut ini password default yang bisa anda gunakan untuk login</p></td>
											</tr>
											<tr>
												<td width="560px">
													<p style="font-family:Lato; font-size:20px; color:#0086f4; text-align:center;">
														<%= password %>
													</p>
												</td>
                      </tr>
                      <tr>
												<td width="560px">
													<p style="font-family:Lato; font-size:20px; color:#0086f4; text-align:center;">
														Mohon Password Anda Diganti pada menu profile, segera setelah bisa login, terimakasih
													</p>
												</td>
											</tr>
											<tr>
												<td height="10px">&nbsp;</td>
											</tr>
											<tr>
												<td><hr/></td>
											</tr>
											<tr>
												<td><p style="font-family:Lato; font-size:13px; color:#999999;">Selanjutnya,<br/>
												Anda akan menerima email konﬁrmasi mengenai kata sandi anda yang baru.</p></td>
											</tr>
											<tr>
												<td><p style="font-family:Lato; font-size:13px; color:#999999;">Salam Sukses!</p></td>
											</tr>
											<tr>
												<td><p style="font-family:Lato ; font-size:13px; color:#999999;">Tim VijayaCsMember</p></td>
											</tr>
										</table>
									</td>
								</tr>
								<!--/ISIKOTAKPUTIH-->
								<!--KOTAKABU-->
								<tr>
									<td bgcolor="#f7f7f7">
										<table width="600px" align="middle" cellpadding="0" cellspacing="0">
											<tr>
												<td colspan="5" height="10px">&nbsp;</td>
											</tr>
											<tr>
												<td width="20px"></td>
												<td><img src="https://res.cloudinary.com/tokdis/image/upload/v1535352031/email/copyright.png" width="100px"></td>
												<td align="middle"><p style="font-family:Lato ; font-size:13px; color:#999999;">
													<a href="#" style="text-decoration:none; color:#999999;">Preferences</a>
													  /   <a href="#" style="text-decoration:none; color:#999999;">Forward</a>
														   /   <a href="#" style="text-decoration:none; color:#999999;">Unsubscribe</a></p></td>
												<td width="20px"></td>
											</tr>
											<tr>
												<td colspan="5" style="margin:0; border-bottom: 3px solid #ed302c" height="10px">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
								<!--KOTAKABU-->
							</table>
						</td>
						<!--TABELABUKANAN-->
						<td width="100px" bgcolor="#dddddd">&nbsp;</td>
					<tr>
				</table>
			</td>
		</tr>
		<tr>
			<!--spaceabuBAWAH-->
			<td height="80px" bgcolor="#dddddd">
				<p style="font-family:Lato; font-size:11px; color:#999999; text-align:center">
					Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.
				</p>
			</td>
		</tr>
	</table>
</body>
</html>