<html>
<head>
	<meta charset="UTF-8"/>
	<meta  name="viewport" content="width=device-width, initial-scale= 1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table align="center" margin="0" cellspacing="0" cellspacing="0" border="0" style="border-collapse:separate">
		<tr cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
			<!--spaceabuatas-->
			<td height="35px" bgcolor="#dddddd">&nbsp;</td>
		</tr>
		<tr cellspacing="0" cellpadding="0">
			<td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
				<table align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: separate;" margin="0">
					<tr cellspacing="0" cellpadding="0">
						<!--TABELABUKIRI-->
						<td width="100px" bgcolor="#dddddd">&nbsp;</td>
						<td>
							<table width="600px" cellspacing="0" cellpadding="0">
								<!--ISIKOTAKMERAH-->
								<tr>
									<td bgcolor="#ed302c"
									style="-webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; border-top-right-radius: 3px;">
										<table style="margin-left: 20px;">
											<tr>
												<td height="10px">&nbsp;</td>
											</tr>
											<tr>
												<td height="10px">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
								<!--/ISIKOTAKMERAH-->
								<!--ISIKOTAKPUTIH-->
								<tr>
									<td>
										<table width="550px" border="0" style="margin-left: 20px; margin-right: 20px">
											<tr>
												<td colspan ="2" height="0px">&nbsp;</td>
											</tr>
											<tr>
												<td colspan ="2" style="text-align:center">
													<p style="font-family:Lato; font-size:26px; color:#ED302C; margin-top:15px;"><b>Permintaan Mentoring Oleh <%=username%></b></p>
												</td>
											</tr>
											<tr>
												<td colspan ="2" height="0px">&nbsp;</td>
											</tr>
											<tr>
												<td colspan ="2" height="0px">&nbsp;</td>
											</tr>
											<tr>
												<td colspan ="2" style="text-align:justify">
													<span style="font-family:Lato; font-size:13px; color:black; line-height:20px">
														User Dengan Email <%=email%>
														<br>
                            Mengajukan Permintaan Mentoring Pada Tanggal <%=date%>
														<br>
														Mohon Segera Ditindaklanjuti
													</span>
												</td>
											</tr>
											<tr>
												<td colspan ="2" height="40px">&nbsp;</td>
											</tr>
											<tr>
												<td colspan ="2"><img src="https://res.cloudinary.com/projectweb/image/upload/v1552576884/Confirmed/2.png" width="430px" style="display:block; margin: auto"></td>
											</tr>
											<tr>
												<td colspan ="2" height="20px">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
								<!--/ISIKOTAKPUTIH-->
								<!--KOTAKABU-->
								<tr>
									<td bgcolor="#f7f7f7">
										<table width="600px" align="middle" cellpadding="0" cellspacing="0">
											<tr>
												<td colspan="5" style="height:10px">&nbsp;</td>
											</tr>
											<tr>
												<td colspan="5" style="margin:0; border-bottom: 3px solid #ed302c" height="10px">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
								<!--KOTAKABU-->
							</table>
						</td>
						<!--TABELABUKANAN-->
						<td width="100px" bgcolor="#dddddd">&nbsp;</td>
					<tr>
				</table>
			</td>
		</tr>
		<tr>
			<!--spaceabuBAWAH-->
			<td style="height:80px" bgcolor="#dddddd">
				<p style="font-family:Lato; font-size:11px; color:#999999; text-align:center">
					Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.
				</p>
			</td>
		</tr>
	</table>
</body>
</html>